

:root{
--okean: #404bbf;
--Iris: #4D5AE5;
--CLOUD: #F4F4FD;
--SLATE:#434455;
--NAVYBLUEmodal: #2e2f42;
--WHITE: #FFFFFF;
--cornflower: #E7E9FC;
--success: #31D0AA; 
--LIGHTSLATE: #8e8f99;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    }

.list{
    list-style: none;
    font-style: normal;
}
.link{
    text-decoration: none;
}
.main-section{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1-2.jpg); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    max-width: 1440px;  
    padding-top: 188px;  
    padding-bottom: 188px;
}

.page-navigator {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:  800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
}
.hero-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.hero-descriptions{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
}
.hero-description-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
}

.hero-description:hover,
.hero-description:focus{
    transform: translateY(0%);
}
.footer-description{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-link{
    display: inline-block; 
    margin-bottom: 16px; 
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-decoration: none; 
    color: #4D5AE5;
    line-height: 1.17;
    text-transform: uppercase;
    margin-right: 76px;
    max-width: 496px; 
}
.logotup {
    color:  #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-decoration: none; 
    line-height: 1.17;
    text-transform: uppercase;
    margin-right: 76px;
    max-width: 496px; 
}
.logotup-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-decoration: none; 
    line-height: 1.17;
    text-transform: uppercase;
    color: #f4f4fd ;
   }

.foot{
    display: inline-block; 
    margin-bottom: 16px;
    margin-right: 120px;
}
.menu-item-site{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Navyblue);
    line-height: 1.5 ;
    padding: 24px 0 ;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
  
    color:var(--NAVYBLUEmodal);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.menu-list{
    gap: 40px;
    display: flex;
}
.contact {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE);
font-style: normal;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-left: auto;

}
.contact:hover, 
.contact:focus {
 color:  #404bbf;
}
.header-adress{
    display: flex;
    gap: 40px;
}
   
.main-sec{
    padding-top: 96px; 
    padding-bottom: 120px;
}

.main-title-name{
font-size: 56px;
font-weight: 700;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.07;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 48px;
max-width: 496px; 
}

.button-service:hover, 
.button-service:focus{
    background-color: #404BBF;
}
.button-service {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color:  #FFFFFF;
    background-color:#4D5AE5 ;
    cursor: pointer;
    list-style: none;
    line-height: 1.5;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last-section{
    background: #F4F4FD;
    padding: 120px 0;
    
}
.second-title {
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
color:  #2E2F42;
}
.third-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    margin-bottom: 8px;
    text-align: center;
  }
  .third-d-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    margin-bottom: 8px;
    margin-left: auto;
  }
  .third-title-p{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    margin-bottom: 8px;
    margin-left: auto;
  }

.item-list-but{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
line-height: 1.5;
cursor: pointer;
text-align: center;
font-family: 'Roboto', sans-serif;
color: #4D5AE5;
background-color: var(--CLOUD);
    border-radius: 4px;
    padding: 12px 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  var(--cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}
.item-list-but:hover,
.item-list-but:focus{
background-color: #404BBF;
color:#FFFFFF ;
border: 1px solid transparent;
box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-item-site:hover, 
.menu-item-site:focus{
    color:#404BBF;
}
.first{
    color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.second{
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-list-item{
    width: calc((100% - 72px) / 4);
}

.hero-title{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;
    margin-bottom: 72px; 
}
.team-name{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

 /* homework 3 */

 .section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
}
.h1, h2, h3, h4, p{
    margin: 0;
}
ul,ol{
    margin: 0;
    padding: 0;
}
a {color: currentColor;}

img {display: block;}


.menu-list{
    display: flex;
    gap: 40px;
}

.hero-section{
    padding: 120px 0; 
}
.hero{
    display: flex;
    gap: 24px; 
    
}

.list-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}
.list-list{
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.list-list:hover,
.list-list:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.last-unit{
    border: 1px solid #E7E9FC;
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3); 
}
.last {
    list-style: none;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-content: center;
}
.button-section {
    margin-bottom: 72px;
    display: flex; 
    justify-content: center;
    gap: 24px; 
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.header-gen{
    display: flex;
    align-items: center;

}
.menu-list{
    gap: 40px ;
}
.main {
padding-top: 96px;
}
.team-prof{
    padding: 32px 0 ;
}
.doing{
    padding-bottom: 120px; 
}
.working{
    width: calc((100% - 48px) / 3)
}




/* ---------- */
/* HOMEWORK 4 */
/* ---------- */




.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4) ;
    transform: translateY(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(100%);}

.modal{
    position: absolute;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #fcfcfc; 
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
padding: 72px 24px 24px 24px;;
}
.modal-close{
position: absolute;
right:24px;
top: 24px;
width: 24px; 
height: 24px;
border-radius: 50%;
cursor: pointer;
justify-content: center;
align-items: center;
display: flex;
background-color: #e7e9fc; 
color: #2E2F42;
padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close:hover,
.modal-close:focus{
    border: none;
    background-color: var(--okean);
}

.modal-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    fill:  #ffffff;
}

.last-unit{
    display: block;
    color: inherit;
}
.list-list:hover .overlay-text,
.list-list:focus .overlay-text{
    transform: translateY(0%);
}

.overlay{
    overflow: hidden;
    position: relative;
}
.overlay-text{
    top: 0;
    position: absolute;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: var(--CLOUD);
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after{
    content: '' ;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute; 
    left: 0;
    bottom: -1px; 
    background-color: #404bbf;
    position: relative; 
}

.imag-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px; 
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; 
}
.team-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-social-item{
 width: 40px;
height: 40px;
border-radius: 50%;
}
.team-social-icon{
    fill: #F4F4FD;
}
.team-social-link{
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: var(--Iris);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-social-link:hover,
.team-social-link:focus{
background-color: #404bbf; 
}
.customers-sect{
    padding-top: 120px; 
    padding-bottom: 120px; 
}
.customers-title{
    color: var(--NAVYBLUEmodal);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 72px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
}
.customers-item{
    display: flex;
    gap: 24px; 
}
.customers-links{
    height: 88px;
    width: calc((100% - 120px) / 6);
}
.cust-posulania{
width: 100%;
height: 100%;
border-radius:4px;
display: flex;
align-items: center; 
justify-content: center;
color: var(--LIGHTSLATE);
border: 1px solid #8e8f99;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust-posulania:hover,
.cust-posulania:focus{
    color: #404bbf; 
    border-color: #404bbf; 
}
.customers-icon{
    fill: currentColor; 
}

.social-name{
    color: var(--WHITE);
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
font-weight: 500;
line-height: 1.5;
margin-bottom: 16px; 
}
.footer-section{
    background: #2E2F42;
    padding: 100px 0;
}
.foot-main{
    display: flex;
    align-items: baseline;
}
.foot-one{
    margin-right: 120px;
}
.footer-social{
    display: flex;
 gap: 16px;
}
.footer-social-icon{
    fill: var(--CLOUD);
}
.foot-soc-item{
    width: 40px;
   height: 40px;
  }
.foot-social-link{
    width: 100%;
    height: 100%;
    background-color: var(--Iris);
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-social-link:hover,
.foot-social-link:focus{
    background-color: var(--success);
}


/* ///////////////////// */
/*..... HOMEWORK 5 ......*/
/* ///////////////////// */

.form-text{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-field{
    position: relative;
}
.modal-input{
    padding: 11px 16px 11px 34px;
    width: 360px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
position: relative;
outline: transparent;
background-color: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-input:focus{
border: 1px solid #4D5AE5;
}
.modal-input:focus + .form-icon{
    fill:#4D5AE5;
}
.form-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   fill: #2E2F42;
}

.modal-form{
    position: relative;
    margin-bottom: 8px;
}

.modal-label{
    color: var(--LIGHT-SLATE, #8E8F99);
font-family: Roboto;
font-size: 12px;
letter-spacing: 0.48px;
margin-bottom: 4px;
display: block;
line-height: 1.17; 
}

.modal-form-comm{
    position: relative;
    margin-bottom: 16px;
    color: var(--LIGHT-SLATE, #8E8F99);
font-family: Roboto;
font-size: 12px;
letter-spacing: 0.48px;
display: block;
line-height: 1.17; 
margin-bottom: 16px;
}

.form-textarea{
    border-radius: 4px;
    border-color: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    max-width: 360px;
    width: 100%;
    resize: none;
    height: 120px;
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus-within{
    border: 1px solid #4D5AE5;
}
.modal-span{
    width: 16px;
    height: 16px;
    stroke-width: 1px;
border: 1px solid rgba(46, 47, 66, 0.4);
display: inline-flex; 
align-items: center;
justify-content: center;
border-radius: 2px; 
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: transparent;
}
.checkbox-modal:checked + .accept > .modal-span{
    background-color: var(--okean);
    border: none;
    fill: var(--CLOUD)
}

.checkbox-modal{
    margin-bottom: 24px;
}
.accept{
    color: var(--LIGHT-SLATE, #8E8F99);
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.48px;
display: block;
}
.policy{
color: var(--IRIS, #4D5AE5);
font-size: 12px;
line-height: 16px;
letter-spacing: 0.48px;
text-decoration-line: underline;
margin-left: 4px;
}
.btn-modal-send{
    display: block;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background-color: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: white;
cursor: pointer;
min-width: 169px;
height: 56px;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;
margin-left: auto;
margin-right: auto;
}

.foot-form{
    display: flex;
    gap: 24px;
}
.foot-modal-form{
    margin-left: 80px;
}

.foot-email{
    width: 264px;
    height: 40px; 
    border-radius: 4px;
border: 1px solid var(--WHITE, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
color: white;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.04em;
padding-left: 16px;
}
.required .placeholder{
    color: WHITE;
}
.foot-form-title{
    color: var(--WHITE);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.foot-button{
    display:flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background-color: #4D5AE5;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    margin-left: 24px;
    height: 40px;
    cursor: pointer;
    border: none;
    min-width: 165px; 
    font-family: "Roboto", sans-serif;
}
.foot-form-icon{
    fill: var(--WHITE);
    margin-left: 16px;


}

    